extends ./layouts/_layout.pug

block link
  link(href="/libs/semantic/dist/semantic.min.css", rel="stylesheet")
  // Semantic UI  
  
block main
  div(class="ui three column grid")
    div(class="row")
    div(class="row")
    div(class="row")
    div(class="row")
    div(class="row")    
    div(class="row")
      div(class="column")
       div(class="ui center aligned red stacked segment")
        form(class="ui form error" method="POST" action="register_process")
          div(class="field")
            div(class="ui left icon input")
              input(type="text" name="username" placeholder="Username")
              i(class="user icon")

            if UsernameErr  
              div(class="ui error message") 
                div(class="header")= UsernameErr  

          br

          div(class="field")  
            div(class="ui left icon input required field")
              input(type="password" name="password" placeholder="Password")
              i(class="lock icon")

            if PasswordErr  
              div(class="ui error message") 
                div(class="header")= PasswordErr  

            br  
            br

            button(class="ui inverted red right labeled icon button" type="submit")
              i(class="write icon")
              | Register  

    div(class="row")
      div(class="column")  
       div(class="ui center aligned red stacked segment")
        form(class="ui form error" method="POST" action="login_process")
          div(class="field")
            div(class="ui left icon input")
              input(type="text" name="username" placeholder="Username")
              i(class="user icon")

            if UsernameErr  
              div(class="ui error message") 
                div(class="header")= UsernameErr  

          br

          div(class="field")  
            div(class="ui left icon input required field")
              input(type="password" name="password" placeholder="Password")
              i(class="lock icon")

            if PasswordErr  
              div(class="ui error message") 
                div(class="header")= PasswordErr  

            br  
            br

            button(class="ui inverted red right labeled icon button" type="submit")
              i(class="write icon")
              | Login                   